<section>
  <div class="add-movie-button">
    <a href="#pages-add-movie">
      <button type="button" class="btn btn-outline-success">Thêm phim</button>
    </a>
  </div>
  <form action="" class="form_search_movie">
    <div class="input-box-1">
      <input type="text" placeholder="Tìm kiếm phim" />
      <button type="submit"><i class="bx bx-search-alt-2"></i></button>
    </div>
  </form>
  <div class="movie-card">
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col-sm-4" ng-repeat="movie in listMovie">
        <div class="card">
          <img
            src="{{movie.image}}"
            class="card-img-top"
            alt="..."
            height="400"
          />
          <div class="card-body">
            <h5 class="card-title">{{movie.name}}</h5>
            <h6 class="card-title">Mã phim: {{movie.code}}</h6>
            <p class="card-text">Ngày bắt đầu: {{movie.premiereDate}}</p>
            <p class="card-text">Ngày kết thúc: {{movie.endDate}}</p>
            <p class="card-text">Trạng thái: {{movie.status}}</p>
            <div class="button-movie">
              <a href="/updateMovie/{{movie.id}}">
                <button
                  type="button"
                  class="btn btn-outline-success"
                  data-bs-target="#exampleModalToggle"
                  data-bs-toggle="modal"
                  ng-click="detailMovie($event, $index)"
                >
                  <i class="bx bx-revision"></i>
                </button>
              </a>
              <a href="#detailMovie/{{movie.id}}">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  type="button"
                >
                  <i class="bx bx-show-alt"></i></button
              ></a>
              <div class="notifications"></div>
              <a href="#/delete-movie/{{movie.id}}">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  id="successfuly"
                  ng-click="deleteMovie($event, $index)"
                >
                  <i class="bx bxs-trash"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal_movie">
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
              <span>Mã Phim: </span
              ><input type="text" disabled ng-model="listUpdateMovie.code" />
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="seat_input">
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Tên phim</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.name"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="input-box">
                    <label for="">Thời lượng phim</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.movieDuration"
                    />
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Tên đạo diễn</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.director"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="input-box">
                    <label for="">Tên diễn viên</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.performers"
                    />
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Ngôn ngữ phim</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.languages"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="date_modal">
                    <label for="">Ngày ra mắt</label>
                    <input
                      class="form-control"
                      type="text"
                      required
                      ng-model="listUpdateMovie.premiereDate"
                      fo
                      id="dateFomat"
                      placeholder="dd/MM/yyyy"
                      onchange="handledatechange()"
                    />
                    <label for="">Ngày kết thúc</label>
                    <input
                      class="form-control"
                      type="text"
                      required
                      ng-model="listUpdateMovie.endDate"
                      id="dateFomat"
                      placeholder="dd/MM/yyyy"
                    />
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Thể loại phim</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.movieType"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="image_movie">
                    <label for="">Hình ảnh</label>
                    <input
                      type="file"
                      required
                      ng-model="listUpdateMovie.image"
                    />
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Thước phim giới thiệu</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.trailer"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="select_rated">
                    <label for="">Rated</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                     
                    >
                      <option selected>Mời chọn rated</option>
                      <option value="{{listUpdateMovie.rated.id}}"  ng-model="listUpdateMovie.rated">
                        <!-- {{listUpdateMovie.rated}} -->
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <div class="input-box">
                    <label for="">Mô tả</label>
                    <input
                      type="text"
                      required
                      ng-model="listUpdateMovie.description"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              data-bs-dismiss="modal"
              ng-click="updateMovie($event, $index)"
            >
              Update Phim
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal_chi_tiet_phim">
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open Modal
  </button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Modal content goes here...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
    <div
      class="modal fade"
      id="exampleModalToggle2"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
              <span>Mã Phim: {{listUpdateMovie.code}}</span>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xl-4">
                <div class="img_chi_tiet">
                  <img
                    src="{{listUpdateMovie.image}}"
                    alt=""
                    width="350"
                    height="470"
                  />
                </div>
              </div>
              <div class="col-xl-8">
                <div class="text_chi_tiet">
                  <h2>{{listUpdateMovie.name}}</h2>
                  <p>{{listUpdateMovie.description}}</p>
                  <h4>Đạo diễn: {{listUpdateMovie.director}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
