<section>
  <!-- <div class="row g-3">
    <div class="col">
      <div class="">
        <label for="">rạp chiếu</label>
        <select name="" id="">
          <option value="">rap 1</option>
          <option value="">rap 2</option>
          <option value="">rap 3</option>
        </select>
      </div>
    </div>
  </div> -->
  <form action="">
    <div class="search_customer">
      <input type="text" placeholder="Tìm kiếm phòng chiếu" />
      <button type="submit"><i class="bx bx-search-alt-2"></i></button>
    </div>
  </form>
  <form action="" class="form_add_room">
    <div class="seat_input">
      <div class="row g-3">
        <div class="col">
          <div class="input-box">
            <label for="">Mời nhập số lượng phòng</label>
            <input type="text" required ng-model="listAddRoom.name"/>
          </div>
        </div>
        <div class="col">
          <div class="select_cinema">
            <label for="">Rạp chiếu</label>
            <select
              class="form-select"
              aria-label="Default select example"
              ng-model="listAddRoom.cinema.id"
            >
              <option selected>Mời chọn rạp chiếu</option>
              <option value="{{cinema.id}}" ng-repeat="cinema in listCinemas">
                {{cinema.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-success" ng-click="addRoom($event)">
      Thêm phòng chiếu
    </button>
  </form>
  <div class="table_room">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Mã phòng</th>
          <th scope="col">Tên phòng</th>
          <th scope="col">Loại phòng</th>
          <th scope="col">Sức chứa</th>
          <th scope="col">Mô tả</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="room in listRoom">
          <th scope="row">{{room.code}}</th>
          <td>{{room.name}}</td>
          <td>{{room.type}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.description}}</td>
          <td>
            <button type="button" class="btn btn-outline-success">
              <i class="bx bx-revision"></i>
            </button>
            <button type="button" class="btn btn-outline-danger">
              <i class="bx bxs-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page_customer">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
