<header class="page-header">
  <nav>
    <a href="#0" aria-label="forecastr logo" class="logo">
      <img
        src="../assets/imgLogo/logo_text.png"
        alt=""
        width="230"
        height="200"
        class="itemLogo"
      />
    </a>
    <button
      class="toggle-mob-menu"
      aria-expanded="false"
      aria-label="open menu"
    >
      <svg width="20" height="20" aria-hidden="true">
        <use xlink:href="#down"></use>
      </svg>
    </button>
    <ul class="admin-menu">
      <li class="menu-heading">
        <h3>Admin</h3>
      </li>
      <li>
        <a href="#home">
          <i class="bx bxs-home"></i>
          <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a href="#food">
          <i class="bx bx-restaurant"></i>
          <span>Đồ ăn</span>
        </a>
      </li>
      <li>
        <a class="sub-btn_two">
          <i class="bx bxs-arch"></i>
          <span>Quản lý ghế</span>
          <i class="fas fa-angle-right dropdown_two"></i>
        </a>
        <div class="dropdown_menu_two">
          <a href="#seat"> <i class="bx bx-arch"></i>Ghế</a>
          <a href="#seat_type"><i class="bx bxs-arch"></i>Thể loại ghế</a>
        </div>
      </li>
      <li>
        <a href="#movie">
          <i class="bx bxs-camera-movie"></i>Quản lý phim</a
        >
      </li>
      <li>
        <a class="sub-btn_one">
          <i class="bx bx-detail"></i>
          <span>Quản lý hóa đơn</span>
          <i class="fas fa-angle-right dropdown_one"></i>
        </a>
        <div class="dropdown_menu_one">
          <a href="#bill-ticket"><i class="bx bx-task"></i>Hóa đơn tổng</a>
          <a href="#bill-food"
            ><i class="bx bx-spreadsheet"></i>Hóa đơn đồ ăn</a
          >
          <a href="#bill-ticket"><i class="bx bx-task"></i>Hóa đơn vé</a>
        </div>
      </li>
      <li>
        <a class="sub-btn">
          <i class="bx bxs-school"></i>
          <span>Quản lý rạp</span>
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="dropdown_menu">
          <a href="#room"><i class="bx bxs-slideshow"></i>Phòng chiếu</a>
          <a href="#cimena"><i class="bx bxs-store-alt"></i>Rạp chiếu</a>
          <a href="#schedule"
            ><i class="bx bx-calendar"></i>Quản lý suất chiếu</a
          >
        </div>
      </li>
      <li>
        <a href="#customer">
          <i class="bx bxs-universal-access"></i>
          <span>Quản lý tài khoản</span>
        </a>
      </li>
      <li>
        <a href="#promotion">
          <i class="bx bxs-discount"></i>
          <span>Quản lý khuyến mãi</span>
        </a>
      </li>
      <li>
        <a href="#rank">
          <i class="bx bx-layer"></i>
          <span>Hạng khách hàng</span>
        </a>
      </li>
      <li>
        <a href="#statistical">
          <i class="bx bx-line-chart"></i>
          <span>Thống kê</span>
        </a>
      </li>
      <li>
        <a href="#setting">
          <i class="bx bx-cog"></i>
          <span>Cài đặt</span>
        </a>
      </li>
      <li>
        <div class="switch">
          <input type="checkbox" id="mode" checked />
          <label for="mode">
            <span></span>
            <span>Tối</span>
          </label>
        </div>
        <button
          class="collapse-btn"
          aria-expanded="true"
          aria-label="collapse menu"
        >
          <svg aria-hidden="true">
            <use xlink:href="#collapse"></use>
          </svg>
          <span>Collapse</span>
        </button>
      </li>
    </ul>
  </nav>
</header>